.folder-connection {
  padding: 0px 70px 0px 70px;
  width: 100%;
}

.connection__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.folder-connection__title {
  line-height: 45px;
  margin-bottom: 30px;
}

.contact {
  margin-bottom: 20px;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.connection__comunication-block {
  margin-bottom: 30px;
}

.connection__map-wrapper {
  border-radius: 15px;
  overflow: auto;
  position: relative;
}


.connection__map {
  max-height: 370px;
  min-height: 370px;
  min-width: 730px;
  max-width: 730px;
}

.connection__map-point {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 238px;
  left: 265px;
  transition: transform .4s ease;
}

.connection__map-point:focus {
  width: 30px;
  height: 30px;
  transform: translateY(-10px);
}

.connection__map-point:hover {
  width: 30px;
  height: 30px;
  transform: translateY(-10px);
}
