.footer {
  background-color: var(--color-Mercury);
}

.footer__container {
  padding: 50px 70px;
  position: relative;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  gap: 30px;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__section_medium {
  margin-right: 35px;
}

.footer__logo {
  width: 295px;
  height: 107px;
  margin-bottom: 40px;
}

.footer__logo-link {
  display: block;
  height: inherit;
}

.footer__description {
  color: var(--color-Mine-Shaft);
  font-size: 16px;
  font-weight: 500;
  max-width: 400px;
}

.footer__nav {
  margin-bottom: 20px;
}

.footer__nav-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 5px;
}

.footer__nav-item {
  padding: 7px 0px;
}

.footer__bootom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__version-info {
  width: calc(39%);
  margin-right: 30px;
  color: var( --color-Mine-Shaft);
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  margin-right: 30px;
}

.footer__developer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__developer-text {
  margin-right: 10px;
  color: var( --color-Mine-Shaft);
  font-weight: 600;
  font-size: 16px;
}

.footer-button-up {
  background-color: var(--color-Malibu);
  width: 152px;
  height: 152px;
  border-radius: 100px;
  position: absolute;
  top: -90px;
  right: -50px;
}

.button-up__svg {
  position: relative;
  width: 80px;
  height: 80px;
}

.button-up__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  z-index: 100;
}
