/* Дефолтные стили для модальных окон */
.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  overflow-x: auto;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(232, 232, 232, 0.60);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
  opacity: 0;
  z-index: 1000;
}
.modal__container {
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  width: 1000px;
  cursor: auto;
  opacity: 0;
  border-radius: 20px;
}

.modal-active {
  -webkit-animation: fade .3s ease-in-out .3s forwards;
          animation: fade .3s ease-in-out .3s forwards;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.modal__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 155px;
  background-color: var(--color-white);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 10px 50px;
}

.modal__logo {
  width: 260px;
  height: 95px;
}

.modal__close-btn {
  margin: 0;
  stroke: var(--color-Fiord);
  stroke-width: 3px;
  opacity: 0.3;
  fill: none;
}

.modal__close-btn:hover {
  stroke: var(--color-Red);
  stroke-width: 4px;
  opacity: 0.9;
}

.modal__close-btn:active {
  stroke: var(--color-white);
  fill: var(--color-Red);
  stroke-width: 4px;
}

.folder-modal {
  padding: 50px;
  width: 100%;
  min-height: 500px;
  background: var(--color-Gallery);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  position: relative;
}

.folder-modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.folder-modal-description {
  max-width: 370px;
}

.folder-modal__header {
  padding: 20px 30px 0px 30px;
  background-color: inherit;
  position: absolute;
  left: 20px;
  top: 24px;
}

  .folder-modal__header::after,
  .folder-modal__header::before,
  .folder-modal__header-1::after,
  .folder-modal__header-1::before {
    height: 35px;
    bottom: 130px;
    background-color: var(--color-Gallery);
  }

  .folder-modal__header::before {
    right: -15px;
  }

  .folder-modal__header::after {
    right: -35px;
  }

  .folder-modal__title {
    position: static;
    color: var(--color-Fiord);
    font-size: 65px;
    line-height: 65px;
    max-width: 370px;
  }

  .folder-modal__text {
    margin-top: 150px;
    color: var(--color-Mine-Shaft);
    font-size: 30px;
    font-weight: 500;
  }

  .folder-modal__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 500px;
  }

  .modal-form__input-wrapper {
    margin-bottom: 30px;
    width: 100%;
  }

  .modal-form__input_name,
  .modal-form__input_contact,
  .modal-form__textarea {
    color: var(--color-Mine-Shaft);
    font-size: 18px;
    font-weight: 500;
  }

  .form__checkbox-wrapper {
    margin-bottom: 0;
  }

  .modal-form__checkbox-text::after {
    background-image: url("../img/cp-application-svg-checkbox-blue.svg");
  }

  .form__checkbox:checked + .modal-form__checkbox-text {
    color: var(--color-Cobalt);
  }

  .modal__form__btn-wrapper {
    width: 100%;
  }

  .button-consultation__modal {
    font-size: 20px;
    text-transform: uppercase;
  }

  .modal__form-error {
    margin: 0;
    line-height: 10px;
    font-size: 18px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 17px;
    min-width: 100%;
    color: var(--color-Red);
  }
