.service {
  background-color: var(--color-Mercury);
  margin-bottom: 0;
}

.service-folder {
  min-height: 720px;
  position: relative;
}

.folder-service__header {
  background-color: var(--color-Mercury);
  padding-left: 80px;
  padding-right: 80px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -58px;
}

.folder-service__header::after,
.folder-service__header::before,
.folder-service__header-1::after,
.folder-service__header-1::before {
  bottom: 10px;
}

.folder-service__header::before {
  right: -15px;
}

.folder-service__header-1::before {
  left: -20px;
  background-color: var(--color-Mercury);
}

.folder-service__header::after {
  right: -33px;
}

.folder-service__header-1::after {
  left: -33px;
}

.service-folder {
  padding: 60px 0px 110px 0px;
}

.folder-service__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.service-item {
  width: calc((100% - (30px))/4);
}

.service-item__cart_restoration {
  background: url("../img/cp-service-item-background-image-1.png")
}

.service-item__cart_coloring-Object {
  background-image: url("../img/cp-service-item-background-image-2.png")
}

.service-item__cart_coloring-Fence {
  background: url("../img/cp-service-item-background-image-3.png")
}

.service-item__cart_coloring-Exterior {
  background: url("../img/cp-service-item-background-image-4.png")
}

.service-item {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, rgba(0, 102, 255, 0.00)), to(#000)), var(--color-Asparagus);
  background: linear-gradient(180deg, rgba(0, 102, 255, 0.00) 31%, #000 100%), var(--color-Asparagus);
  border-radius: 20px;
}

.service-item__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 175px;
  padding-bottom: 50px;
  max-height: 500px;
  min-height: 500px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  mix-blend-mode: normal;
  background-size: cover;
}

.service-item__cart_restoration {
  background-image: url("../img/cp-service-item-background-image-1.png")
}

.service-item__cart_coloring-Object {
  background-image: url("../img/cp-service-item-background-image-2.png")
}

.service-item__cart_coloring-Fence {
  background-image: url("../img/cp-service-item-background-image-3.png")
}

.service-item__cart_coloring-Exterior {
  background-image: url("../img/cp-service-item-background-image-4.png")
}


.service-item__icon {
  width: 80px;
  height: 80px;
}

.service-item__title {
  text-align: center;
  color: var(--color-white);
  font-size: 20px;
  font-weight: 700;
  width: 100%;
}

.service-item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0px 50px 0px;
  background-color: var(--color-Blue-Ribbon);
  width: 100%;
  height: 210px;
  color: var(--color-white);
  font-size: 25px;
  font-weight: 700;
  line-height: 100%;
  position: absolute;
  bottom: -210px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  -webkit-transition: all .3s ease;
  opacity: 0;
  transition: all .5s ease;
}

.service-item__cart:hover > .service-item__title {
  visibility: hidden;
}

.service-item__button:focus {
  opacity: 1;
  transform: translateY(-210px);
}

.service-item__button:focus + .service-item__cart {
  background-color: var(--color-Blue-Ribbon);
}

.service-item__cart:hover > .service-item__button {
  opacity: 1;
  transform: translateY(-210px);
}

.service-item__cart:hover {
  background-color: var(--color-Blue-Ribbon);
}

.service__pagination-block {
  max-width: 320px;
  display: none;
}
