@import './setting.css';
@import './header.css';
@import './heroSection.css';
@import './infoSection.css';
@import './serviceSection.css';
@import './trustSection.css';
@import './portfolioSection.css';
@import './applicationSection.css';
@import './connectionSection.css';
@import './footer.css';
@import './modal.css';
@import './media.css';



