.trust {
  margin-bottom: 140px;
}

.folder-trust {
  min-height: 340px;
  position: relative;
}

.folder-trust__title {
  display: block;
  max-width: 450px;
  max-height: 40px;
  overflow: hidden;
}

.folder-trust__header {
  background-color: var(--color-white);
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -56px;
}

.folder-trust__header::after,
.folder-trust__header::before,
.trust__folder-header-1::after,
.trust__folder-header-1::before {
  bottom: 27px;
}

.folder-trust__header::before {
  right: -15px;
}

.trust__folder-header-1::before {
  left: -20px;
  background-color: var(--color-Mercury);
}

.folder-trust__header::after {
  right: -33px;
}

.trust__folder-header-1::after {
  left: -33px;
}

.folder-trust {
  padding: 60px 0px 110px 0px;
}

.folder-trust__header::after {
  background-color: var(--color-Mercury);
}

.trust__folder-header-1::after {
  background-color: var(--color-Mercury);
}

.trust__folder-header-1::before {
background-color: var(--color-white);
}

.folder-trust__header {
  padding: 45px 50px 0px 50px;
}

.folder-trust {
  padding: 80px 0px 20px 0px;
}

.trust-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.trust-item {
  width: calc((100% - (30px))/3);
}

.trust-item__cart {
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  padding: 15px;
  max-height: 260px;
  min-height: 260px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.10);
          box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.10);
}

.trust-item__cart-fodd {
  background-image: url(../img/cp-trast-item-svg-image-1.svg);
}

.trust-item__cart-rgd {
  background-image: url(../img/cp-trast-item-svg-image-2.svg);
}

.trust-item__cart-ask {
  background-image: url(../img/cp-trast-item-svg-image-3.svg);
}
